.w{
    width: 1240px;
    margin: 0 auto;
}
body{
    overflow-x: hidden;
}
a{
    cursor: pointer;
}
.head{
    height: 268px;
    position: relative;
    z-index: 10;
}
.nav{
    height: 82px;
}
.nav .meizu_logo{
    width: 125px;
    height: 24px;
    padding: 28px 0;
    float: left;
}
.nav .meizu_logo img{
    width: 100%;
    height: 100%;
}
.nav ul{
    margin-left: 100px;
    float: left;
}
.nav ul li{
    text-align: center;
    float: left;
    position: relative;
}
.nav ul li a{
    display: block;
    padding: 31px 20px 30px;
    line-height: 21px;
    font-size: 14px;
    color: #333;
}
.nav .search{
   float: left;
   margin: 26px 5px 0 10px;
   width: 170px;
   height: 30px;
   line-height: 29px;
   font-size: 12px;
   background: #fff;
   border-radius: 20px;
   border: 1px solid #999;
   box-sizing: border-box;
}
.nav .search input{
    border: none;
    outline: none;
    width: 120px;
    height: 20px;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 12px;
    float: left;
}
.nav .search .btn{
    width: 28px;
    height: 24px;
    background-color: #fff;
    float: left;
    outline: none;
    margin-right: 3px;
    border: 0;
    margin-top: 2px;
}
.nav .search .btn img{
    width: 60%;
    height: 60%;
    margin-right: 3px;
}
.nav .user{
    position: relative;
}
.nav .user img{
    width: 22px;
    height: 22px;
    float: left;
    margin-left: 15px;
    margin-top: 26px;
    padding-top:4px;
}
#user_area{
    width: 98px;
    position: absolute;
    text-align: center;
    background-color: #fff;
    right: 0px;
    top: 56px;
    display: none;
}
#user_area li a{
    display: block;
    text-align: center;
   background-color: #fff;
   line-height: 16px;
   padding:10px 20px;
}
#user_area li a:hover{
    color: blue;
}
.nav .shop_car{
    float: right;
    margin: 27px 0 0 8px;
    width: 22px;
    height: 22px;
    padding-top:4px;
}
.nav .shop_car img{
    width: 100%;
    height: 100%;
}
.shop_car_big{
    width: 315px;
    height: 120px;
    background-color: #fff;
    position: absolute;
    right: 20px;
    top: 70px;
    display: none;
}
.shop_car_big .panda{
    position: absolute;
    left: 80px;
    top: 40px;
    width: 46px;
    height: 38px;
}
.panda_word span{
    position: absolute;
    left: 140px;
    top: 40px;     
}
.panda_word p{
    display: inline-block;
    position: absolute;
    left: 140px;
    top: 60px;   
}
.phone_list{
    width: 2560px;
    height: 180px;
    position: absolute;
    display: none;
    left: -100px;
    top: 56px;
}
.box_top{
    overflow: hidden;
    padding: 5px 0 20px 0;
    text-align: center;
    font-size: 12px;
    float: left;
    width: 142px;
}
.box_top_a{
    display: block;
    font-size: 12px;
    color: #333
}
.box_top_a:hover{
    color: #333;
}
.box_top_a img{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.box_top span{ 
    line-height: 14px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 131px;
}
.acoustics_list{
    width: 2560px;
    height: 191px;
    position: absolute;
    display: none;
    left: -250px;
    top: 60px;
}
.part_list{
    width: 2560px;
    height: 191px;
    position: absolute;
    display: none;
    left: -300px;
    top: 54px;
}
.life_list{
    width: 2560px;
    height: 191px;
    position: absolute;
    display: none;
    left: -350px;
    top: 58px;
}
.APP_dw{
    width:1240px;
    height: 300px;
    position: absolute;
    display: none;
    top: 90px;
 left: -880px; 
}
.APP_dw img{
 width:100%;
 height:100%;
}
.banner{
    position: relative;
    top: -280px;
    left: 50%;
    transform: translateX(-50%);
    width:2523px;
    height: 670px;
    overflow: hidden;
}
.banner ul{
    width: 20000px;
    position: absolute;
    z-index: 9;
}
.banner ul li{
    float: left;
}
.banner ul li img{
    height: 670px;
}
.banner ol{
    left: 50%;
    z-index: 99;
    width: 200px;
    position: absolute;
    bottom: 32px;
    transform: translateX(-50%);
}
.banner ol li{
    display: block;
    float: left;
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
}
.adv{
    margin-top: -280px;
}
.adv_list{
    height: 278px;
}
.box_adv{
    float: left;
    width: 310px;
    padding-top: 45px;
    text-align: center;
    background-color: #fff;
}
.box_adv img{
height: 130px;
margin:0px auto;
border:0;
}
.box_adv span{
    display: block;
   color: #333;
   font-size: 20px;
   line-height: 20px;
   height: 30px;
}
.box_adv p{
    font-size: 14px;
   color: #999;
   height: 21px;
}

.phone_area{
    background-color: #f4f4f4; 
    height: 1564px;
}
.phone_word{
    height: 104px;
    overflow: hidden;
}
.phone_word h3{
    margin-top: 56px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
}
.phone_banner{
    height: 450px;
    width: 2523px;
    transform: translateX(-25%);
    cursor: pointer;
}
.phone_banner img{
    width: 2523px;
}
.phone_goods{
    margin-top: 10px;
    top: 554px;
}
.phone_goods1{
    height: 610px;
}
.phone_goods1 .phone_goods1_1{
    width: 615px ;
    height:610px ;
    float: left;
    background-color: #fff;
    transition: 2s;
}
.phone_goods1 .phone_goods1_2{
   margin-left: 10px;
}
.phone_goods1_0:hover{
    box-shadow: 0px 10px 10px #999;
}
.phone_goods1_2:hover{
    box-shadow: 0px 10px 10px #999;
}
.phone_goods1 i{
    font-size: 14px;
    font-style: normal;
    color: #fff;
    line-height: 60px;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    background: linear-gradient(#ff3a5c,#ff568c);
}
.phone_goods1 span{
    text-align: center;
    display: block;
    color: #333;
   font-size: 28px;
   margin-top: -23px;
   padding-bottom: 2px;
}
.phone_goods1 p{
    text-align: center;
    display: block;
    color: #333;
    font-size: 18px;
    padding-bottom: 3px;
}
.phone_goods1 .price{
    text-align: center;
    display: block;
    color: #c00;
    font-size: 22px;
}
.phone_goods1 .price s{
    font-size: 14px;
    bottom: 3px;
    font-style: normal;
}
.phone_goods1 a img{
    margin-left: 82px;
    width: 460px;
    height: 460px;
}
.box_goods2{
    width: 303px;
    height: 375px;
    margin-top: 10px;
    margin-left:7px;
    float: left;
    background-color: #fff;
    transition: 2s;
}
.box_goods2:hover{
    box-shadow: 0px 10px 10px #999;
}
.box_goods2 img{
    width: 230px;
    height: 230px;
    margin-top: 30px;
    margin-left: 36px;
}
.box_goods2  span{
    text-align: center;
    display: block;
    color: #333;
    font-size: 16px;
    margin-bottom: 2px;
}
.box_goods2 p{
    text-align: center;
    display: block;
    color: #999;
    font-size: 14px;
}
.box_goods2 .price{
    text-align: center;
    display: block;
    color: #c00;
    font-size: 22px;
    padding-left: 14px;
}
.box_goods2 .price s{
    font-size: 14px;
    bottom: 3px;
}

.acoustics_area{
   background-color: #f4f4f4;
   height: 1720px;
}
.acoustics_area .acoustics_word{
    height: 104px;
    background-color: #f4f4f4;
    overflow: hidden;
}
.acoustics_word h3{
    margin-top: 56px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
}
.acoustics_banner{
    height: 450px;
    width: 2523px;
    cursor: pointer;
}
.acoustics_banner img{
    height: 450px;
    width: 2523px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}
.acoustics_goods{
    height: 1155px;
    background-color: #f4f4f4;
}
.acoustics_goods_endlong{
    float: left;
    background-color: #f4f4f4;
}
.acoustics_goods_endlong li{
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    display: block;
    width: 303px;
    height: 375px;
    position: relative;
    text-align: center;
    margin-top:12px ;
    background-color: #fff;
    transition: 2s;
}
.acoustics_goods_endlong li:hover{
    box-shadow: 0px 10px 10px #999;
}
.acoustics_goods_endlong li img{
    width: 100%;
    height: 100%;
}
.acoustics_goods_row{
    float: left;
    width: 936px;
    background-color: #f4f4f4;
}
.acoustics_goods_row li{
    box-sizing: border-box;
    display: block;
    width: 303px;
    height: 375px;
    position: relative;
    text-align: center;
    margin-top:12px ;
    float: left;
    margin-left: 9px;
    background-color: #fff;
    transition: 2s;
}
.acoustics_goods_row li:hover{
    box-shadow: 0px 10px 10px #999;
}
.acoustics_goods_row li img{
   height: 230px;
   margin-top: 30px;
}

















.part_area{
   height: 1720px;
   background-color: #f4f4f4;
}
.part_area .part_word{
    height: 104px;
    background-color: #f4f4f4;
}
.part_word h3{
    padding-top: 56px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
}
.part_banner{
    height: 450px;
    width: 2523px;
    cursor: pointer;
    transform: translateX(-25%);
}
.part_banner img{
    height: 450px;
}
.part_goods{
    height: 1155px;
}
.part_goods_endlong{
    float: left;
}
.part_goods_endlong li{
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    display: block;
    width: 303px;
    height: 375px;
    position: relative;
    text-align: center;
    margin-top:12px ;
    background-color: #fff;
    transition: 2s;
}
.part_goods_endlong li:hover{
    box-shadow: 0px 10px 10px #999;
}
.part_goods_endlong li img{
    width: 100%;
    height: 100%;
}
.part_goods_bief{
    position: absolute;
    top: 270px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}
.part_goods_bief span{
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    line-height: 31px;
    white-space:nowrap;
}
.part_goods_bief p{
    color: #fff;
    line-height: 21px;
    white-space:nowrap;
}
.part_goods_bief em{
    font-size: 22px;
   bottom: 1px;
   color: #ebce6b;
   font-weight: 700;
   line-height: 36px;
   font-style: normal;
}
.part_goods_bief em s{
    font-size: 14px;
    color: #fff;
    line-height: 14px;
}
.part_goods_row{
    float: left;
    width: 936px;
}
.part_goods_row li{
    box-sizing: border-box;
    display: block;
    width: 303px;
    height: 375px;
    position: relative;
    text-align: center;
    margin-top:12px ;
    float: left;
    margin-left: 9px;
    background-color: #fff;
    transition: 2s;
}
.part_goods_row li:hover{
    box-shadow: 0px 10px 10px #999;
}
.part_goods_row li img{
   height: 230px;
   margin-top: 30px;
}
.part_goods_row_bief{
    position: absolute;
    top: 270px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}
.part_goods_row_bief span{
    color: #333;
    font-size: 16px;
    white-space:nowrap;
   line-height: 28px;
}
.part_goods_row_bief p{
    display: block;
    color: #999;
    font-size: 14px;
    white-space:nowrap;
    line-height: 25px;
}
.part_goods_row_bief em{
    font-size: 22px;
   bottom: 1px;
   color: #cc0000;
   font-style: normal;
   line-height: 33px;
}
.part_goods_row_bief em s{
    font-size: 14px;
    margin-left: 8px;
    color: #666;
    line-height: 14px;
}
.life_area{
   height: 1355px;
   background-color: #f4f4f4;
}
.life_area .life_word{
    height: 104px;
    background-color: #f4f4f4;
}
.life_word h3{
    padding-top: 56px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
}
.life_banner{
    height: 450px;
    width: 2523px;
    cursor: pointer;
    width: 2523px;
    transform: translateX(-25%);
}
.life_banner img{
    height: 450px;
}
.life_goods{
    height: 770px;
}
.life_goods_endlong{
    float: left;
}
.life_goods_endlong li{
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    display: block;
    width: 303px;
    height: 375px;
    position: relative;
    text-align: center;
    margin-top:12px ;
    background-color: #fff;
    transition: 2s;
}
.life_goods_endlong li:hover{
    box-shadow: 0px 10px 10px #999;
}
.life_goods_endlong li img{
    width: 100%;
    height: 100%;
}
.life_goods_row{
    float: left;
    width: 936px;
}
.life_goods_row li{
    box-sizing: border-box;
    display: block;
    width: 303px;
    height: 375px;
    position: relative;
    text-align: center;
    margin-top:12px ;
    float: left;
    margin-left: 9px;
    background-color: #fff;
    transition: 2s;
}
.life_goods_row li:hover{
    box-shadow: 0px 10px 10px #999;
}
.life_goods_row li a{
   display: block;
}
.life_goods_row li img{
   height: 230px;
   margin-top: 30px;
}
.community_area{
  height: 870px;
  background-color: #f4f4f4
}
.community_word{
    height: 104px;
    background-color: #f4f4f4;
}
.community_word h3{
    padding-top: 56px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
}
.community_area .box_new{
    width: 300px;
    height: 380px;
    float: left;
    margin-right: 10px;
    background-color: #fff;
    transition: 2s;
}
.box_new:hover{
    box-shadow: 0px 10px 10px #999;
}
.box_new a{
    display: block;
    color: #515151;
    cursor: pointer;
}
.box_new img{
    width: 100%;
    height: 190px;
}
.name_new{
    line-height: 42px;
}
.box_new .name_new s{
    display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin: 0 16px;
}
.box_new .name_new s img{
    width:100%;
    height: 100%;
}
.box_new .name_new i{
    font-style: normal;
}
.box_new p{
    padding: 10px 15px 15px;
    font-size: 16px;
    line-height: 27px;
    height: 66px;
}
.box_new span{
    color: #999;
    display: block;
    padding: 0 15px;
    margin-top: 10px;
    font-size: 14px;
}

.Flyme_area{
   height: 615px;
   background-color: #f4f4f4;
}
.Flyme_trait{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.Flyme_word{
    height: 104px;
    background-color: #f4f4f4;
}
.Flyme_word span{
    padding-top: 56px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.box_trait1{
    width: 610px;
    height: 245px;
    float: left;
    margin-right: 9px;
    margin-bottom: 10px;
    transition: 2s;
}
.box_trait1:hover{
    box-shadow: 0px 10px 10px #999;
}
.box_trait1 img{
    width: 100%;
    height: 100%;
}
.box_trait{
    float: left;
    width: 300px;
    height: 245px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
}
.box_trait img{
    width:100%;
    height: 190px;
}
.box_trait span{
    font-size: 16px;
    line-height: 55px;
    text-align: center;
     color: #515151;
}
.video_area{
  height: 602px;
  background-color: #f4f4f4
}
.video_area .video_word{
    height: 104px;
    background-color: #f4f4f4;
}
.video_word h3{
    padding-top: 56px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.video_show{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.box_video{
    height: 244px;
    width: 300px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 2s;
}
.box_video:hover{
    box-shadow: 0px 10px 10px #999;
}
.box_video img{
    width: 100%;
    height: 190px;
}
.video_top{
    position: relative;
}
.box_video i{
    width: 36px;
    height: 36px;
    background: url(../img/index/show_video.png) no-repeat center;
    background-size: 100% 100%;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.box_video p{
    font-size: 16px;
    line-height: 55px;
    text-align: center;
    color: #515151;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 10px;
}
.foot_color{
    height: 60px;
    background-color: #f4f4f4;
}
.footstep{
 height: 248px;
}
.serve{
    margin-top: 60px;
}
.footstep_serve{
    height: 85px;
    float: left;
}
.serve li{
    display: block;
    float: left;
    width: 150px;
    height: 69px;
    text-align: center;
}
.serve li img{
    width: 50px;
    height: 39px;
    margin: 0 50px;
}
.serve li span{
    line-height: 30px;
    color: #999;
}
.customer_service{
   float: right;
   margin-left: 170px;
   margin-top: -20px;
}
.customer_service span{
    color: #999;
    font-size: 12px;
    line-height: 30px;
    float: right;
}
.customer_service p{
    color: #008cff;
    font-size: 25px;
    font-weight: 400;
    margin-top: -6px;
    line-height: 40px;
}
.customer_service i{
    font-style: normal;
    float: right;
    height: 30px;
    padding: 0 16px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 20px;
    margin-top: 3px;
   display: block;
    font-size: 14px;
    background: #008cff;
}
.footstep_row{
    height: 55px;
    position: absolute;
    margin-top: 100px;
    margin-bottom: 28px;
    width: 1240px;
}
.footstep_row ul li{
    float: left;
    height: 18px;
}
.footstep_row ul li a{
    color: #999;
}
.footstep_row ul li span img{
    width: 18px;
    height: 18px;
}
.footstep_row ul li span{
    width: 18px;
    height: 18px;
vertical-align: middle;
}
.footstep_row b{
    display: block;
    float: left;
    width: 1px;
    height: 18px;
    margin: 0 17px;
    background-color: #999;
}
.footstep_row ol{
    float: left;
    height: 36px;
    margin-top: 6px;
}
.footstep_row ol li{
    display: block;
    float: left;
    height: 36px;
    line-height: 36px;
    margin-left: 15px;
    color: #999;
}
.footstep_row ol li i{
    display: block;
    width: 14px;
    height: 18px;
    border-radius: 50%;
    float: left;
    margin-top: 4px;
}
.footstep_row ol li i img{
    width: 100%;
    height: 100%;
}
.footstep_row ol li s{
    display: block;
    width: 20px;
    height: 18px;
    float: left;
    margin-right: 4px;
    margin-top: 4px;
}
.footstep_row ol li s img{
    width: 100%;
    height: 100%;
}
.footstep_share{
    float: right;
   height: 36px;
   margin-top: 6px;
   
}
.footstep_share div{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}
.footstep_share img{
    width: 100%;
    height: 100%;
}
.share2{
    position: relative;
}
.wei_big{
    width: 180px;
    height: 180px;
    position: absolute;
    top: -150px;
    right: 0;
    display: none;
}
.wei_big img{
    width: 100%;
    height: 100%;
}
.xiao_big{
    width: 180px;
    height: 180px;
    position: absolute;
    top: -150px;
    right: 0;
    display: none;
}
.xiao_big img{
    width: 100%;
    height: 100%;
}